{% extends 'lab_4/../layout/index_lab4_base.html' %}
{%load static%}

    {% block content %}
    <nav class="main-body p-3 p-md-5 m-3 text-center">
        <div class="col-md-7  mx-auto my-3">
          <h3 class="main-header font-weight-bold">Hai, I am Cloud</h3>
          <p class="contain lead font-weight-normal pl-5 pr-5 pt-3">I am a creative web programmer and business enthusiast. Currently studying in Universitas Indonesia</p>
          <p class="lead">
            <a class="btn btn-light my-2" href="{% url 'about' %}">Learn more</a>
          </p>
        </div>
    </nav>

    <nav class="bg-warning p-3 pl-md-5 pr-md-5 m-3 text-center">
      <div class="col-md-5 mx-auto my-3">
        <h1 class="sub-header display-3 font-weight-bold pb-1">WORK & EXPERIENCE</h1>
      </div>
      <div class="container-liquid py-3 pl-lg-4 pr-lg-4 pl-md-1 pr-md-1">
        <div class="row justify-content-center">
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/logo_perusahaan/bemlogo.png' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">BEM, staff of academic and leadership</p>
          </div>
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/logo_perusahaan/bizzy.png' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">Bizzy, product manager internship</p>
          </div>
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/logo_perusahaan/compfest.jpg' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">Compfest, staff of business IT case</p>
          </div>
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/logo_perusahaan/SxC.png' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">SxC delegate of future leader</p>
          </div>
        </div>
      </div>
      <div class="col-md-7 p-lg-0 mx-auto my-0">
        <p class="lead">
          <a class="btn btn-light my-2" href="{% url 'work' %}">Learn more</a>
        </p>
      </div>
    </nav>

    <nav class="type1-body p-3 pl-md-5 pr-md-5 m-3 text-center">
      <div class="col-md-3 mx-auto my-3">
        <h1 class="sub-header display-3 font-weight-bold pb-1">AWARDS</h1>
      </div>
      <div class="container-liquid py-3 pl-lg-4 pr-lg-4 pl-md-1 pr-md-1">
        <div class="row justify-content-center">
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/award/1st.jpg' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">Runner-Up School of Indonesian Youth Entrepreneur</p>
          </div>
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/award/1st.jpg' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">Runner-Up HIMSISFO IS Case Solution</p>
          </div>
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/award/top10.jpg' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">SCC Business Case Competition</p>
          </div>
          <div class="col-lg-2 col-md-3 col-6 p-4 m-md-3">
            <img src="{% static 'images/award/top15.jpg' %}" class="card-img-top" alt="Card image cap">
            <p class="contain card-text font-weight-bold m-md-2">ITB Technopreneur Summit</p>
          </div>
        </div>
      </div>
    </nav>

    {% endblock %}