{% extends 'lab_4/../layout/index_lab4_base.html' %}
{%load static%}

    {% block content %}
    <div class="container-liquid justify-content-center">
        <section name="form">
            <h1 class="h3 my-3 font-weight-normal text-center">Add new schedule</h1>
            <form class = "mx-auto form-signin" id="form" method="POST" action="/schedule_new/">
                {% csrf_token %}
                {{ add_schedule }}
                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Submit</button>
            </form>
            
        </section>
    </div>
    
    {% endblock %}