{% extends 'lab_4/../layout/index_lab4_base.html' %}
{%load static%}

    {% block content %}
    <div class="container-liquid justify-contain-center">
        <div class="row justify-contain-center">
            <div class="col-md mx-auto">
                <table class="table">
                    <thead>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Hours</th>
                        <th>Activities</th>
                        <th>Location</th>
                        <th>Category</th>
                    </thead>
                    <tbody>
                        {% if schedule_list|length > 0 %}
                            {% for i in schedule_list %}
                                <tr>
                                    <td> {{ i.day }} </td>
                                    <td> {{ i.date_time }} </td>
                                    <td> {{ i.hours }} </td>
                                    <td> {{ i.activities_name }} </td>
                                    <td> {{ i.location }} </td>
                                    <td> {{ i.category }} </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td> EMPTY </td>
                                <td> EMPTY </td>
                                <td> EMPTY </td>
                                <td> EMPTY </td>
                                <td> EMPTY </td>
                                <td> EMPTY </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>   
            </div>    
        </div>
        <div class="row justify-contain-center mx-auto">
            <a class="btn btn-primary my-2 mx-2" href="{% url 'schedule_add' %}">Add Schedule</a>
            <a class="btn btn-primary my-2 mx-2" href="{% url 'schedule_delete' %}" data-toggle="modal" data-target="#exampleModal">Delete All</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        Are you sure to delete all the data?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-primary" href="{% url 'schedule_delete' %}">Delete all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    {% endblock %}