{% extends 'lab_4/../layout/index_lab4_base.html' %}

    {% block content %}
    <form class="form-signin" action="{% url 'home' %}">
      <h1 class="h3 mb-3 font-weight-normal text-center">Please register</h1>
      <div class="container-liquid mb-3">
        <label for="inputName" class="sr-only">Full name</label>
        <input type="text" id='inputName' class="form-control"  placeholder="Full name" required="required">
  
        <input type="date" id="inputDate" class="form-control" required="required">
      </div>

      <div class="container-liquid mb-3">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="">
          
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id='inputUsername' class="form-control"  placeholder="Username" required="required">
      </div>

      <div class="container-liquid mb-3">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
  
        <label for="confirmPassword" class="sr-only">Confirm password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required" oninput="check(this)">   
        <script language='javascript' type='text/javascript'>
          function check(input) {
              if (input.value != document.getElementById('inputPassword').value) {
                  input.setCustomValidity('Password Must be Matching.');
              } else {
                  // input is valid -- reset the error message
                  input.setCustomValidity('');
              }
          }
        </script>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

    {% endblock %}
