{% extends 'lab_4/../layout/index_lab4_base.html' %}
{%load static%}

    {% block content %}
    <nav class="main-body m-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 p-0">
            <img src="{% static 'images/cloud.png' %}" class="featurette-image img-fluid mx-auto">
          </div>
          <div class="col-sm mb-0 pb-0 pl-3">
            <div class="row pl-3 pt-3 pt-md-5">
              <h1 class="sub2-header">“A dedicated student with proven analysis and problem-solving skills, highly interested in business and IT development”</h1>
            </div>
            <div class="row pt-md-3">
              <div class="col-sm contain2 ml-3 mt-4">
                <h4 class="sub2-header m-0">CONTACT</h4>
                <p class="contain m-0">+62 877 1177 6565</p>
                <p class="contain m-0">clouddian.fazalmuttaqin@ui.ac.id</p>
                <p class="contain m-0">Depok, West Java, Indonesia</p>     
              </div>
              <div class="col-sm contain2 ml-3 mt-4 pl-3">
                <h4 class="sub2-header m-0">EDUCATION</h4>
                <p class="contain m-0">Bachelor of Science, Majoring Information System</p>
                <p class="contain m-0">Universitas Indonesia</p>
                <p class="contain m-0">2017 - 2021 (EXPECTED)</p>    
              </div>
            </div>
            <div class="row mt-4 mt-md-5">
              <div class="contain2 ml-3 pl-3 mb-3">
                <h4 class="sub2-header m-0">SKILLS</h4>
                <p class="contain m-0">- Sufficient understanding in Python and Java.</p>
                <p class="contain m-0">- Well knowledge in Agile and the use of SCRUM Framework.</p>
                <p class="contain m-0">- Experienced in team management.</p>
                <p class="contain m-0">- Strong problem-solving and analysis skills.</p>
                <p class="contain m-0">- Product-Tools Used: Jira, Confluence, Trello, Marvel, Figma</p>
                <p class="contain m-0">- Dev-Tools Used : Git, Marvel, Intellij</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="type2-body p-3 p-md-5 m-3 text-center">
      <div class="col-lg-3 mx-auto my-3">
        <h1 class="sub-header display-3 font-weight-bold pb-1">LOVE & PLAY</h1>
      </div>
      <div class="container-fluid py-3 pl-lg-4 pr-lg-4 pl-sm-1 pr-sm-1">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-4 col-6 p-sm-5 p-3">
            <img src="{% static 'images/play/jogging.jpg' %}" class="card-img-top" alt="Card image cap">
            <h4 class="contain card-text m-sm-2">Jogging on Sunday!</h4>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 p-sm-5 p-3">
            <img src="{% static 'images/play/tv.jpg' %}" class="card-img-top" alt="Card image cap">
            <h4 class="contain card-text m-sm-2">Movie theater maniac!</h4>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 p-sm-5 p-3">
            <img src="{% static 'images/play/reading.jpg' %}" class="card-img-top" alt="Card image cap">
            <h4 class="contain card-text m-sm-2">Reading many novel!</h4>
          </div>
        </div>
      </div>
    </nav>

    {% endblock %}
