<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CLOUD PROFILE</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    {%load static%}
    <link href="{% static 'css/style_lab3.css' %}" rel="stylesheet">

    </head>

  <body class="bg-light text-center pt-5" data-gr-c-s-loaded="true">
    {% block sidebar %}
    <form class="form-signin" action="home">
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
      <div class="container-liquid mb-3">
        <label for="inputName" class="sr-only">Full name</label>
        <input type="text" id='inputName' class="form-control"  placeholder="Full name" required="required">
  
        <input type="date" id="inputDate" class="form-control" required="required">
      </div>

      <div class="container-liquid mb-3">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="">
          
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id='inputUsername' class="form-control"  placeholder="Username" required="required">
      </div>

      <div class="container-liquid mb-3">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
  
        <label for="confirmPassword" class="sr-only">Confirm password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required" oninput="check(this)">   
        <script language='javascript' type='text/javascript'>
          function check(input) {
              if (input.value != document.getElementById('inputPassword').value) {
                  input.setCustomValidity('Password Must be Matching.');
              } else {
                  // input is valid -- reset the error message
                  input.setCustomValidity('');
              }
          }
        </script>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
    {% endblock %}
  </body>
</html>
