{% extends 'index_lab3_base.html' %}
{%load static%}

    {% block content %}
    <nav class="main-body m-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm p-0">
            <img src="{% static 'images/work/bizzy.jpg' %}" class="featurette-image img-fluid mx-auto">
          </div>
          <div class="col-sm">
            <div class="row pt-3">
              <div class="col-2 ml-3 pl-3 mt-1 my-auto">
                <img src="{% static 'images/logo_perusahaan/bizzy.png' %}" class="featurette-image img-fluid">  
              </div>
              <div class="contain2 mt-1 my-auto">
                <h5 class="sub2-header m-0 pl-2 my-auto">Product Manager</h5>  
                <h5 class="sub2-header m-0 pl-2 my-auto">Internship</h5>  
              </div>
            </div>
            <div class="row pt-4 ml-3">
              <p class="contain m-0 p-2">During the internship period, I was involved in monitoring and enhancing Bizzy catalog product. My responsibilities include: (1) Conduct analysis for product enhancement; (2) Establish comprehensive documentation of product specs; (3) Monitor product and sprint backlog; (4) Define and break down clear product requirement to Tech Team and Product Design; (5) Conduct user testing with Product Design; (5) Maintain Bizzy active SKU with Content and Merchandise Team</p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="main-body m-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm p-0">
            <img src="{% static 'images/work/bizzit.jpg' %}" class="featurette-image img-fluid mx-auto">
          </div>
          <div class="col-sm">
            <div class="row pt-3">
              <div class="col-2 ml-3 pl-3 mt-1 my-auto">
                <img src="{% static 'images/logo_perusahaan/compfest.jpg' %}" class="featurette-image img-fluid">  
              </div>
              <div class="contain2 mt-1 my-auto">
                <h5 class="sub2 m-0 pl-2">Staff of</h5>  
                <h5 class="sub2 m-0 pl-2">Business IT Case</h5>  
              </div>
            </div>
            <div class="row pt-4 ml-3">
              <p class="contain m-0 p-2">Compfest is one of the biggest IT events held by the students of the Computer Science UI with Business IT Case as one of the competition. My responsibilities include conduct partnership with several potential partners, establish all document partnership (MoU, ToR), and collaborate with other members in executing all the rundown.</p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="main-body m-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md p-0">
            <img src="{% static 'images/work/SxC.jpg' %}" class="featurette-image img-fluid mx-auto">
          </div>
          <div class="col-md">
            <div class="row pt-3">
              <div class="col-2 ml-3 pl-3 mt-1 my-auto">
                <img src="{% static 'images/logo_perusahaan/SxC.png' %}" class="featurette-image img-fluid">  
              </div>
              <div class="contain2 mt-1 my-auto">
                <h5 class="sub2 m-0 pl-2">Delegate of SxC</h5>  
                <h5 class="sub2 m-0 pl-2">Future Leader Academy</h5>  
              </div>
            </div>
            <div class="row pt-4 ml-3">
              <p class="contain m-0 p-2">Compfest is one of the biggest IT events held by the students of the Computer Science UI with Business IT Case as one of the competition. My responsibilities include conduct partnership with several potential partners, establish all document partnership (MoU, ToR), and collaborate with other members in executing all the rundown.</p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% endblock %}

