.container {
  max-width: 960px;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
}

/*
 * Custom translucent site header
 */

.main-body {
  background-color: #FFA411;
}

.type1-body {
  background-color: #FFD275;
}

.type2-body {
  background-color: #3288AD;
}

.colored-header {
  color: #FFA411;
}

.sub2-header {
  color: #fff;
  font-size: 1.5rem;
}

.main-header {
  color: #fff;
  font-size: 3rem;
}

.sub-header {
  color: #fff;
  border-bottom: .2rem solid #fff;
  font-size: 2.5rem;
}

.contain {
  color: #fff;
  font-size: 1rem;
}

.contain2 {
  color: #fff;
  border-left: .3rem solid #fff;
  font-size: 75%;
}

.btn-light {
  color: #FFA411;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
}

.btn-light:hover,
.btn-light:focus {
  color: #FFA411;
  font-weight: 700;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
