<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>        
    {% load staticfiles %}
    <h1>Hello my name is {{ name }}</h1>
    <img src="{% static 'images/CloudKeren.jpg' %}" alt="My image" width="25%" height="25%"/>
    <article>NPM : {{ npm }}</article>
    <article>Age : I am {{ age }} years old</article>
	<article>College : {{ place }}</article>
	<article>Hobby : {{ hobby }}</article>
    <article>Description : {{ description }} </article>

    <h1>Hello her name is {{ name_friend1 }}</h1>
    <img src="{% static 'images/JuliaKeren.jpg' %}" alt="My image" width="25%" height="25%"/>
    <article>NPM : {{ npm_friend1 }}</article>
    <article>Age : She is {{ age_friend1 }} years old</article>
	<article>College : {{ place_friend1 }}</article>
	<article>Hobby : {{ hobby_friend1 }}</article>
    <article>Description : {{ description_friend1 }} </article>
    
    <h1>Hello his name is {{ name_friend2 }}</h1>
    <img src="{% static 'images/FarizKeren.jpg' %}" alt="My image" width="25%" height="25%"/>
    <article>NPM : {{ npm_friend2 }}</article>
    <article>Age : He is {{ age_friend2 }} years old</article>
	<article>College : {{ place_friend2 }}</article>
	<article>Hobby : {{ hobby_friend2 }}</article>
	<article>Description : {{ description_friend2 }} </article>
</body>
</html>
