<!-- Fixed header navbar -->
<nav class="sticky-top navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand text-white">Clouddian Fazalmuttaqin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav ml-auto mr-2">
        <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="work">Work</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
        <a class="btn btn-primary" href="login">Sign up</a>
    </form>
    </div>
</nav>